
@{
    ViewBag.Title = "Julklapp";
}
@model SecretSanta.Models.DistributionViewModel

@if (Model.PersonExists)
{
    <div class="col-md-8">
        <h1 class="hide-mobile2">Julkl<font color="Red">app</font><sup style="font-size:20px; top:-1.6em">2017</sup></h1>
        <p>Du är varmt välkommen hem till Josefine och Patrik.</p>
        <br />
        <p>Din uppgift är att hjälpa tomten att köpa present till:</p>
        @*@if (Model.AlreadyAssigned)
        {
            <p>Du har tidigare blivit tilldelad att handla julkl<font color="Red">app</font> till</p>
        }
        else
        {
            <p>Du ska handla julkl<font color="Red">app</font> till</p>
        }*@

        <p style="text-decoration: underline;">@Model.Name</p>

        <p>Budget max @Model.Budget kr</p>
        <br />
        <p>P.S. Alla har rätt att handla presenter till minstingarna Alva och mini-Sjölin</p>
    </div>
    <div class="col-md-4 hide-mobile">
        <br />
        <img src="@Url.Content("~/Content/DSC02367mini.jpg")" alt="IMAGES" class="img-rounded img-responsive" />
        <h3>@Model.GroupName</h3>
    </div>
}
else
{
    <div class="col-md-8">
        <h1 class="hide-mobile2">Julkl<font color="Red">app</font></h1>
        <h2>Du skrev in fel namn eller är inte medlem i denna julgrupp!</h2>
        <h3>Om felet kvarstår eller du upplever att det är fel, kontakta den som gav dig adressen hit.</h3>

        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <input type="submit" value="Tillbaka till förstasidan" class="btn btn-danger btn-lg" style="margin-top:20px" />
        }
    </div>
    <div class="col-md-4 hide-mobile">
        <img src="@Url.Content("~/Content/DSC02374mini.jpg")" alt="IMAGES" class="img-rounded img-responsive" />
    </div>

}